<!-- app/views/layouts/auth.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>ProductSync</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

</head>
<body class="auth-bg">
  <%= render "shared/navbar" %>

  <main class="auth-wrapper">
    <%= yield %>
  </main>
</body>
</html>
